* {
    box-sizing: border-box;
}

body {
    font-family: AvenirNext-Regular, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #00324f;
    font-size: 1.5em;
    letter-spacing: .025rem;
    line-height: 2.5rem;
    margin: 0;
}

/* header */

@media (max-width: 1920px) {
    header nav.navbar {
        background-color: #007cc0;
    }

    header nav img {
        height: 33.5px;
        width: 47.5px;
        color: #fff;
        margin: 0px 10px;
    }

    header nav li.nav-item a {
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: .5px;

    }

    header nav li.nav-item {
        position: relative;
        overflow: hidden;
    }

    header nav li.nav-item .overlay {
        width: 100%;
        height: 123%;
        background-color: #fff;
        position: absolute;
        left: 0px;
        transform: translateY(-100px);
        transition: all 0.3s;

    }

    header nav li.nav-item:hover .overlay {
        transform: translateY(-8px);
    }

    header nav li.nav-item a {
        position: relative;
    }

    header nav li.nav-item:hover span {
        color: #00446b;

    }

    header nav li.nav-item span.nav_Font {
        font-size: 16px;
    }

    /* Carousel */
    section.carousel {
        padding-bottom: 270px;
        background-color: #00324f;
        position: relative;

    }

    section.carousel img {
        width: 100%;
        height: 470px;
    }

    section.carousel button.btn_Carousel {
        border-radius: 1.95rem;
        background-color: #e42525;
        color: white;
        border: 2px solid white;

    }

    section.carousel button.btn_Carousel span {
        font-size: 14px;
        padding: 0px 17px;
        text-align: center;
        font-weight: 700;
    }

    section.carousel button.btn_Carousel:hover {

        background-color: white;
        color: #e42525;


    }

    section.carousel .carousel-item p.carousel_Note {
        font-size: 0.7rem;
        line-height: 1.2rem;
        padding: .5rem 1rem .3rem;
    }

    section.carousel .carousel-item p.carousel_Note2 {
        font-size: 0.9rem;
        line-height: 1.2rem;
        padding: .5rem 1rem .3rem;
    }

    section.carousel ol.carousel-indicators {
        top: 470px;
    }

    section.carousel ol.carousel-indicators li {
        border-radius: 50%;
        width: 9px;
        height: 9px;
        margin: 0 5px;
        background-color: grey;
    }

    section.carousel ol.carousel-indicators li.active {
        border-radius: 50%;
        width: 9px;
        height: 9px;
        margin: 0 5px;
        background-color: #007cc0;
    }

    a.carousel-control-prev i {
        font-size: 50px;
        padding: 15px 8px 15px 10px;
        color: #00324f;
        background-color: white;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        left: 0px;
    }

    a.carousel-control-next i {
        font-size: 50px;
        padding: 15px 10px 15px 8px;
        color: #00324f;
        background-color: white;
        border-radius: 10px 0px 0px 10px;
        position: absolute;
        right: 0px;

    }

    a.carousel-control-next:hover i {
        color: #007cc0;
    }

    a.carousel-control-prev:hover i {
        color: #007cc0;
    }

    .carousel-control-next,
    .carousel-control-prev {
        opacity: 0.8;

    }

    .carousel-control-next,
    .carousel-control-prev:hover {
        opacity: 0.8;
    }

    /* vehicles */
    section.vehicles {
        position: absolute;
        top: 80%;
    }


    /* Our */
    div.our img {
        width: 100%;
        height: 345px
    }

    div.our {



        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }


    .animate__fadeInUp {
        display: inline-block;
        margin: 0 0.5rem;

        animation: fadeInUp;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s;
        /* don't forget to set a duration! */
    }

    div.our .our_Item {
        position: relative;
    }

    div.our .content_Item {
        position: absolute;
    }

    div.our .our_Item button {
        border-radius: 1.95rem;
        background-color: rgba(228, 37, 37, 0);
        border: 2px solid white;
        transition: all 0.3s;
        color: white;
        font-size: 16px;
        padding: 0 18px;
        font-weight: 700;
    }

    div.our .our_Item button:hover {
        background-color: white;
        color: #007cc0;
        border: 2px solid #007cc0;
    }

    div.our .our_Item .civic {
        text-align: center;
        bottom: 33px;
        left: 140px;


    }

    div.our .our_Item .civic h3 {
        font-size: 18px;
        color: #fff;
    }

    div.our .our_Item .hrv {
        text-align: left;
        top: 125px;
        left: 40px;
    }

    div.our .our_Item .hrv h3 {
        font-size: 18px;
        color: #fff;
        width: 245px;
    }

    /* vehicles_content */
    section.vehicles .vehicles_content {
        text-align: center;
    }

    section.vehicles .vehicles_content h6 {
        line-height: 0px;
    }

    section.vehicles .vehicles_content h2 {
        font-size: 2.5em;
        font-weight: 200;
    }

    section.vehicles .vehicles_content ul li a {
        font-size: 0.6em;
        font-weight: 700;
        color: #00324f;
        height: 32px;
        border-radius: 0;
    }

    section.vehicles .vehicles_content a:hover {
        color: #007cc0;

    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #007bff;
        background-color: white;
        border-bottom: 5px solid #007bff;
    }

    section.vehicles .vehicles_content img {
        width: 100%;
        height: 560px;
    }

    section.vehicles .vehicles_content a.carousel-control-prev,
    a.carousel-control-next {
        width: 50px;
        height: 50px;
        top: 45%;
    }


    section.vehicles .vehicles_content .carousel-item {
        position: relative;
    }

    section.vehicles .vehicles_content .content_Car {
        position: absolute;
        color: white;
        text-align: left;
        width: 30%;
        left: 5%;
        top: 5%
    }

    section.vehicles .vehicles_content .content_Car p {
        font-size: 15px;
        line-height: 20px;

    }

    section.vehicles .vehicles_content .content_Car .num {
        display: flex;

        align-items: center;
        padding: 2px 2px 50px 0px;
    }

    section.vehicles .vehicles_content .content_Car .num h5 {
        font-size: 14px;
    }

    section.vehicles .vehicles_content .content_Car .num p {
        margin-bottom: 9px;
        padding: 0 10px;
        font-size: 14px
    }

    section.vehicles .vehicles_content .content_Car .name {
        text-align: center;
        margin-bottom: 20px;
        left: 10px;
    }

    section.vehicles .vehicles_content .content_Car .name h2 {
        font-weight: 600;
        font-size: 70px;
        letter-spacing: 10px;
        font-style: italic;
        margin: 0;
    }

    section.vehicles .vehicles_content .content_Car .name h6 {
        margin: 0;
        padding: 0 100px;
    }

    section.vehicles .vehicles_content .content_Car .name_description {
        width: 80%;
    }

    section.vehicles .vehicles_content .content_Car .description {
        margin: 0;
    }

    section.vehicles .vehicles_content .content_Car .price_Car {
        display: flex;
        justify-content: space-between;
    }

    section.vehicles .vehicles_content .content_Car ul {
        list-style-type: none;
        padding: 0;
    }

    section.vehicles .vehicles_content .content_Car .price_Car ul h2 {
        font-size: 42px;
        text-align: center;
        font-weight: 250;
        letter-spacing: 2px;
        line-height: 80px;
        margin: 0;
        ;
    }

    section.vehicles .vehicles_content .content_Car .price_Car ul p {
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        letter-spacing: 1px;
        margin: 0;
    }

    section.vehicles .vehicles_content .content_Car .price_Car ul p a {
        color: #007bff;
        vertical-align: super;
        font-size: 6px;
    }

    section.vehicles .vehicles_content .content_Car .price_Car ul p a:hover {
        color: rgba(0, 50, 79, 0.658);
    }

    section.vehicles .vehicles_content .content_Car .button ul {
        display: flex;
    }

    section.vehicles .vehicles_content .content_Car .button ul li {
        margin: 0 2px;
    }

    section.vehicles .vehicles_content .content_Car .button ul li .btn_CarEx {
        background-color: red;
        color: white;
        font-size: 15px;
        padding: 0 25px;
        border: 2px solid white;
        border-radius: 21px;
        transition: all 0.5s;
        margin-right: 5px;
        line-height: 32px;
        font-weight: 700;
    }

    section.vehicles .vehicles_content .content_Car .button ul li .btn_CarEx:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    section.vehicles .vehicles_content .content_Car .button ul li .btn_Certified {
        background-color: #007bff;
        color: white;
        font-size: 15px;
        padding: 0 60px;
        border: 2px solid white;
        border-radius: 21px;
        transition: all 0.5s;
        line-height: 32px;
        font-weight: 700;
    }

    section.vehicles .vehicles_content .content_Car .button ul li .btn_Certified:hover {
        background-color: white;
        color: #007bff;
        border: 2px solid white;
    }

    section.vehicles .vehicles_content .content_Car .button ul li .btn_CarBu {
        background-color: white;
        color: red;
        font-size: 15px;
        padding: 0 40px;
        border: 2px solid red;
        border-radius: 21px;
        transition: all 0.5s;
        line-height: 32px;
        font-weight: 700;
    }

    section.vehicles .vehicles_content .content_Car .button ul li .btn_CarBu:hover {
        background-color: red;
        color: white;
        border: 2px solid white;
    }

    section.vehicles .footer_Car {
        position: absolute;
        top: 89%;
        display: flex;
        justify-content: space-between;
    }

    section.vehicles .footer_Car ul.footer {
        list-style: none;
        border-top: 2px solid rgba(255, 255, 255, 0.342);
    }

    section.vehicles .footer_Car li a {
        display: flex;

    }

    section.vehicles .footer_Car li a p {
        margin: 0 150px 0 35px;
        color: white;
        line-height: 60px;

    }

    section.vehicles .footer_Car li a:hover {
        text-decoration: none;
    }

    section.vehicles .footer_Car li a img {
        width: 200px;
        height: 55px;
    }

    section.vehicles .footer_Car ul.description_Car {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 28px 97px;
    }

    section.vehicles .footer_Car ul.description_Car li {
        font-size: 12px;
        color: white;
        padding: 0 5px 0 5px;
        background-color: rgba(0, 0, 0, 0.596);
        height: 23px;
        line-height: 22px;
        display: flex;
    }

    section.vehicles .footer_Car ul.description_Car li a {
        color: #007bff;
        font-size: 6px;
        margin: 4px -2px;
    }

    section.vehicles .footer_Car ul.FIT {
        margin-left: 670px;
    }

    section.vehicles .content_item .content_Car .certified {
        margin: 0 50px;
        padding: 20px 0;
        display: flex;
        align-items: center;
    }

    section.vehicles .certified img {
        width: 70px;
        height: 50px;
    }

    section.vehicles .certified .certified_item {
        margin: 0 5px;
        border-left: 1px solid white;
        padding: 0 10px;
    }

    section.vehicles .certified .certified_item h2 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        text-align: center;
        letter-spacing: 2px;
    }

    section.vehicles .certified .certified_item h3 {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        text-align: center;
        letter-spacing: 6px
    }
}






@media (max-width: 500px) {
    header nav.navbar div#movieNavbar {
        background-color: #eee;

    }

    header nav.navbar div#movieNavbar a {
        color: #00324f;
        font-weight: 400;
    }

    section.carousel {
        padding: 0;
    }

    section.carousel ol.carousel-indicators {
        top: 140px;
    }









    /* vehicles_content */
    section.vehicles .slider_Vehicles {}

    section.vehicles .slider_Vehicles img {
        width: 100%;
        height: 100%;
    }

    section.vehicles .slider_Vehicles .carousel-inner {
        position: relative;
        text-align: center;
        padding: 0 0 390px 0;
        background-color: #00324f
    }

    section.vehicles .slider_Vehicles .content_Car {
        position: absolute;
        top: 60%;
        z-index: 1111111;
        width: 100%;
        left: 0;
    }
}